<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.jitrapon.glom.profile">

    <application>
        <activity android:name=".ProfileActivity">

            <intent-filter android:order="4"
                android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:scheme="http" />
                <data android:host="@string/instant_app_host" />
                <data android:pathPattern="/profile" />
            </intent-filter>
        </activity>
    </application>

</manifest>