<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="io.jitrapon.glom.map">

    <dist:module dist:instant="true" dist:onDemand="false"
        dist:title="map">
        <dist:fusing dist:include="true" />
    </dist:module>

    <application
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="false">
        <activity android:name=".MapActivity">

            <intent-filter android:order="2"
                android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:scheme="http" />
                <data android:host="@string/instant_app_host" />
                <data android:pathPattern="/map" />
            </intent-filter>
        </activity>
    </application>

</manifest>
